* {
	font-family: "Share Tech Mono", monospace;
	padding: 10px;

}

a {
	text-decoration: none;
	color: #ffffff;
}

header {
	background-color: #111173;
	padding-left: 0;
	text-align: left;
	font-size: 15px;
	color: #ffffff;
}

footer {
	text-align: center;
	text-decoration: none;
	background-color: #f0f0f0;
	color: #969387;
}

.foot-link {
	color: #969387;
}

.drop-down {
	display: none;
	overflow: hidden;

}


.description {
	text-align: center;
	padding-top: 50px;
	padding-left: 90px;
	padding-right: 90px;
	font-size: 20px;
}

.btn-form {
	align-items: left;
}

.logout-btn {
	transition-duration: 0.5s;
	color: #ff0f0f;
	background-color: #ffffff;
	border: 2px solid #ff0f0f;
	border-radius: 8px;
}

.logout-btn:hover {
	background-color: #ff0f0f;
	color: #ffffff;
}

.doc-card {
	padding-top: 20px;
	background-color: #e0e0e0;
	border-radius: 12px;
	padding: 20px;
	text-decoration: none;
	border: 2px solid #e0e0e0;
	transition-duration: 0.5s;

}

.doc-card:hover {
	background-color: #a3a3a3;
	color: #000000;

}

.doc-link {
	color: #000000;
}

.doc-link:hover {
	color: #000000;
}

.doc-info {
	padding-bottom: 10px;
}

.doc-container {
	transition-duration: 0.5s;
	background-color: #ebebeb;
	border: 4px #d9d9d9;
}

.doc-container:hover {
	background-color: #dedede;			
}

.show-key {
	transition-duration: 0.5s;
	outline: none;
	border: none;
	border-radius: 8px;
	font-style: bold;
}

.show-key:hover {
	background-color: #000000;
	color: #ffffff;
}

.api-key-div {
	display: none;
	overflow: hidden;
}


.collapsible {
	background-color: #ebebeb;
	transition-duration: 0.5s;
	outline: none;
	border: none;
	border-radius: 8px;
	font-style: bold;
}

.collapsible:hover {
	background-color: #000000;
	color: #ffffff;
	font-style: bold;
}
