* {
	font-family: "Share Tech Mono", monospace;
	padding: 10px;

}

a {
	text-decoration: none;
	color: #ffffff;
}

header {
	background-color: #111173;
	display: flex;
	justify-content: right;
	padding-left: 20px;
	text-align: right;
	font-size: 20px;
	color: #ffffff;
}

footer {
	text-align: center;
	text-decoration: none;
	background-color: #f0f0f0;
	color: #969387;
}

.foot-link {
	color: #969387;
}


.description {
	text-align: center;
	padding-top: 50px;
	padding-left: 90px;
	padding-right: 90px;
	font-size: 20px;
}

.setup-link { 
	color: blue;
}

.lang-list {
	text-align: center;
	padding-top: 50px;
	padding-left: 90px;
	padding-right: 90px;
	font-size: 25px;
	list-style: none;
}

.title {	
	text-align: center;
	font-weight: bold;
	padding-bottom: 40px;
}

.under-msg {
	text-align: center;
	padding-bottom: 80px;

}


.section-heading {
	text-align: left;
	font-weight: bold;
	font-style: italic;
	color: #969387;
}


.lform {
	text-align: center;
	padding-top: 60px;
	display: block;

}

.submit-btn {
	color: #969387;
	border: solid 2px;
	

}

.btnbox {
	padding: 30px;
	margin-left: 150px;
}


.login-btn {
	color: #ffffff;
	border: solid 2px #111173;	
	transition-duration: 0.5s;
	background-color: #5263ff;
	border-radius: 8px;

}

.login-btn:hover {
	background-color: #ffffff;
	color: #111173;
}

.signup-btn {
	color: #111173;
	border: solid 2px #111173;	
	transition-duration: 0.5s;
	background-color: #ffffff;
	border-radius: 8px;

}

.signup-btn:hover {
	background-color: #111173;
	color: #ffffff;
}

.dash-btn {
	margin-right: 100px;
	transition-duration: 0.5s;
	border-radius: 8px;
	border: solid 2px #50b033;
	background-color: #50b033;
	color: #ffffff;

}

.dash-btn:hover {
	background-color: #ffffff;
	color: #50b033;
}
