* {
	font-family: "Share Tech Mono", monospace;
	padding: 10px;
	color: #ffffff;

}


header {
	background-color: #111173;
	padding-left: 0;
	text-align: right;
	font-size: 20px;
}

footer {
	text-align: center;
	text-decoration: none;
	background-color: #f0f0f0;
	color: #969387;
}

.foot-link {
	color: #969387;
	text-decoration: none;
}

.title {	
	color: #969387;
}

.top-link {
	text-decoration: none;
	color: #ffffff;
}

.lform {
	text-align: center;
	padding-top: 60px;
	display: block;

}

.login-label {
	font-size: 30px;
	color: #969387;
}

.login-input {
	font-size: 20px;
	color: #000000;
}

.submit-btn {
	color: #ffffff;
	border: solid 2px #111173;	
	transition-duration: 0.5s;
	background-color: #5263ff;
	border-radius: 8px;

}

.submit-btn:hover {
	background-color: #111173;
	color: #ffffff;
}

.btnbox {
	padding: 30px;
	margin-left: 150px;
}

.signup-link {
	text-decoration: none;
	color: #969387;
}

.home-btn {
	color: #ffffff;
	border: solid 2px #d68427;	
	transition-duration: 0.5s;
	background-color: #d68427;
	border-radius: 8px;

}

.home-btn:hover {
	background-color: #ffffff;
	color: #d68427;
}
