* {
	font-family: "Share Tech Mono", monospace;
	padding: 10px;

}

a {
	text-decoration: none;
	color: #ffffff;
}

header {
	background-color: #111173;
	padding-left: 0;
	text-align: right;
	font-size: 20px;
	color: #ffffff;
}

footer {
	text-align: center;
	text-decoration: none;
	background-color: #f0f0f0;
	color: #969387;
}

.foot-link {
	color: #969387;
}


.description {
	text-align: center;
	padding-top: 50px;
	padding-left: 90px;
	padding-right: 90px;
	margin-right: 80px;
	font-size: 20px;
}

.section-heading {
	text-align: left;
	font-weight: bold;
	font-style: italic;
	color: #969387;
}
